<h3>
  Platform: <%=@platform.name %>, <%=@platform.url %>
</h3>
<h4>
  Platform_url: <%= "#{root_url}platforms/#{@platform.token}" %>
</h4>

<h2>Listing banners</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= link_to 'Edit', edit_platform_banner_path(@platform, banner) %></td>
        <td><%= link_to 'Destroy', platform_banner_path(@platform, banner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'New Banner', new_platform_banner_path %>
